<div class="fundo-carrinho">
    <mat-card class="mat-elevation-z4 card-pedidos" style="margin: 76px 10px;
    border-radius: 10px;">

        <mat-card-title class="text-left card-title">
            <div class="col-md-9 title-carrinho">
                <span class="material-icons icon-carrinho">
                    shopping_cart
                </span>
                <h1>Carrinho de Compras</h1>
            </div>
        </mat-card-title>

        <div class="div-buscar">
            <form class="col-md-8 navbar-form navbar-left" role="search" style="display: flex;">
                <div class="buscar-carrinho " style="display: flex; justify-content: space-between;">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar">
                    </div>
                    <button type="submit" class="btn-buscar">
                        <span class="material-icons">search</span>
                    </button>
                </div>
            </form>
            <div class="voltar col-md-4">
                <button routerLink="/produtos" class="btn-voltar"><span class="title-voltar">Voltar</span></button>
            </div>
        </div>

        <div class="itens">
            <mat-card class="card-carrinho">
                <div class="line-carrinho">
                    <div class="image col-lg-2 col-md-3 col-sm-2" style="width: 100%; align-self: center;">
                        <img src="assets/img/roupa1.jpg">
                    </div>
                    <div class="name col-lg col-md col-sm" style="width: 100%; align-self: center;">
                        <h2 style="margin-bottom: 0;">Macacão Feminino</h2>
                    </div>
                    <div class="name col-lg col-md col-sm" style="width: 100%; align-self: center; text-align: center;">
                        <h2>Tamanho</h2>
                        <h3 style="margin-bottom: 0;">M</h3>
                    </div>
                    <div class="name col-lg col-md col-sm" style="width: 100%; align-self: center; text-align: center;">
                        <h2>Cor</h2>
                        <h3 style="margin-bottom: 0;">Verde</h3>
                    </div>
                    <div class="name col-lg col-md col-sm" style="width: 100%; align-self: center; text-align: center;">
                        <h2>Preço</h2>
                        <h3 style="margin-bottom: 0;">R$ 89,90</h3>
                    </div>

                    <div class="btn-remove col-lg col-md col-sm" style="width: 100%; align-self: center; text-align: right;">
                        <button>Remover</button>
                    </div>

                </div>

            </mat-card>
            <mat-card class="card-carrinho">
                <div class="line-carrinho">
                    <div class="image col-lg-2 col-md-3 col-sm-2" style="width: 100%; align-self: center;">
                        <img src="assets/img/roupa1.jpg">
                    </div>
                    <div class="name col-lg col-md col-sm" style="width: 100%; align-self: center;">
                        <h2 style="margin-bottom: 0;">Macacão Feminino</h2>
                    </div>
                    <div class="name col-lg col-md col-sm" style="width: 100%; align-self: center; text-align: center;">
                        <h2>Tamanho</h2>
                        <h3 style="margin-bottom: 0;">M</h3>
                    </div>
                    <div class="name col-lg col-md col-sm" style="width: 100%; align-self: center; text-align: center;">
                        <h2>Cor</h2>
                        <h3 style="margin-bottom: 0;">Verde</h3>
                    </div>
                    <div class="name col-lg col-md col-sm" style="width: 100%; align-self: center; text-align: center;">
                        <h2>Preço</h2>
                        <h3 style="margin-bottom: 0;">R$ 89,90</h3>
                    </div>

                    <div class="btn-remove col-lg col-md col-sm" style="width: 100%; align-self: center; text-align: right;">
                        <button>Remover</button>
                    </div>

                </div>
            </mat-card>
            <mat-card class="card-carrinho">
                <div class="line-carrinho">
                    <div class="image col-lg-2 col-md-3 col-sm-2" style="width: 100%; align-self: center;">
                        <img src="assets/img/roupa1.jpg">
                    </div>
                    <div class="name col-lg col-md col-sm" style="width: 100%; align-self: center;">
                        <h2 style="margin-bottom: 0;">Macacão Feminino</h2>
                    </div>
                    <div class="name col-lg col-md col-sm" style="width: 100%; align-self: center; text-align: center;">
                        <h2>Tamanho</h2>
                        <h3 style="margin-bottom: 0;">M</h3>
                    </div>
                    <div class="name col-lg col-md col-sm" style="width: 100%; align-self: center; text-align: center;">
                        <h2>Cor</h2>
                        <h3 style="margin-bottom: 0;">Verde</h3>
                    </div>
                    <div class="name col-lg col-md col-sm" style="width: 100%; align-self: center; text-align: center;">
                        <h2>Preço</h2>
                        <h3 style="margin-bottom: 0;">R$ 89,90</h3>
                    </div>

                    <div class="btn-remove col-lg col-md col-sm" style="width: 100%; align-self: center; text-align: right;">
                        <button>Remover</button>
                    </div>

                </div>

            </mat-card>

        </div>

        <!--CARD MOBILE-->
        <div class="itens-mobile">
            <mat-card class="card-carrinho">
                <div class="line-carrinho">
                    <div class="image col-sm-3" style="align-self: center;">
                        <img src="assets/img/roupa1.jpg">
                    </div>
                    <div class="col-md infos-card-mobile">
                        <div class="name col-sm" style="width: 100%; align-self: center; padding: 0;">
                            <h2 style="margin-bottom: 0;">Macacão Feminino</h2>
                        </div>
                        <div class="name col-sm" style="width: 100%; align-self: center; text-align: left;">
                            <h2>Tamanho</h2>
                            <h3 style="margin-bottom: 0;">M</h3>
                        </div>
                        <div class="name col-sm" style="width: 100%; align-self: center; text-align: left;">
                            <h2>Cor</h2>
                            <h3 style="margin-bottom: 0;">Verde</h3>
                        </div>
                        <div class="name preco col-sm" style="width: 100%; align-self: center; text-align: left;">
                            <h2>Preço</h2>
                            <h3 style="margin-bottom: 0;">R$ 89,90</h3>
                        </div>
                    </div>

                </div>
                <div class="btn-remove col-sm" style="width: 100%; align-self: center; text-align: right;">
                    <button>Remover</button>
                </div>


            </mat-card>
            <mat-card class="card-carrinho">
                <div class="line-carrinho">
                    <div class="image col-sm-3" style="align-self: center;">
                        <img src="assets/img/roupa1.jpg">
                    </div>
                    <div class="col-md infos-card-mobile">
                        <div class="name col-sm" style="width: 100%; align-self: center; padding: 0;">
                            <h2 style="margin-bottom: 0;">Macacão Feminino</h2>
                        </div>
                        <div class="name col-sm" style="width: 100%; align-self: center; text-align: left;">
                            <h2>Tamanho</h2>
                            <h3 style="margin-bottom: 0;">M</h3>
                        </div>
                        <div class="name col-sm" style="width: 100%; align-self: center; text-align: left;">
                            <h2>Cor</h2>
                            <h3 style="margin-bottom: 0;">Verde</h3>
                        </div>
                        <div class="name preco col-sm" style="width: 100%; align-self: center; text-align: left;">
                            <h2>Preço</h2>
                            <h3 style="margin-bottom: 0;">R$ 89,90</h3>
                        </div>
                    </div>

                </div>
                <div class="btn-remove col-sm" style="width: 100%; align-self: center; text-align: right;">
                    <button>Remover</button>
                </div>


            </mat-card>
            <mat-card class="card-carrinho">
                <div class="line-carrinho">
                    <div class="image col-sm-3" style="align-self: center;">
                        <img src="assets/img/roupa1.jpg">
                    </div>
                    <div class="col-md infos-card-mobile">
                        <div class="name col-sm" style="width: 100%; align-self: center; padding: 0;">
                            <h2 style="margin-bottom: 0;">Macacão Feminino</h2>
                        </div>
                        <div class="name col-sm" style="width: 100%; align-self: center; text-align: left;">
                            <h2>Tamanho</h2>
                            <h3 style="margin-bottom: 0;">M</h3>
                        </div>
                        <div class="name col-sm" style="width: 100%; align-self: center; text-align: left;">
                            <h2>Cor</h2>
                            <h3 style="margin-bottom: 0;">Verde</h3>
                        </div>
                        <div class="name preco col-sm" style="width: 100%; align-self: center; text-align: left;">
                            <h2>Preço</h2>
                            <h3 style="margin-bottom: 0;">R$ 89,90</h3>
                        </div>
                    </div>

                </div>
                <div class="btn-remove col-sm" style="width: 100%; align-self: center; text-align: right;">
                    <button>Remover</button>
                </div>


            </mat-card>


        </div>

        <!--FIM CARD MOBILE-->

        <div class="btns-finalizar" style="justify-content: space-between; display: flex;">
            <button routerLink="/produtos">Continuar Comprando</button>
            <button routerLink="/finalizar-compra">Finalizar Compra</button>
        </div>

    </mat-card>

</div>