<div class="col-md-12 row div-fundo">
    <div class="col-md-6 div-img">
        <div class="col-md-12" style="height: 100%;">
            <div class="div-info-logo">
                <img class="logo-login" src="assets/img/logo.png">
            </div>
            <div class="div-info-logo">
                <h3>Para acessar o sistema, basta fazer o login<br> com seus dados de acesso </h3>
            </div>

            <div class="div-sociais">
                <div class="siga-nos">
                    <h3>Siga-nos nas Redes Sociais</h3>
                </div>
                <div class="col-md-5 img-sociais">
                    <img src="assets/img/faceking.png">

                    <img src="assets/img/instagramking.png">

                    <img src="assets/img/linkedinking.png">
                </div>
            </div>
        </div>

        <div class="footer-login">
            <h3>Desenvolvido por Faso - Fábrica de Software</h3>
        </div>

    </div>
    <div class="col-md-6 div-login">
        <mat-card class="text-left card-login">

            <mat-card-title class="text-center">
                <h1 class="text-login">Login</h1>
            </mat-card-title>


            <br>
            <div class="col-md-12" style="display: block;">

                <div class="text-center div-forms">

                    <mat-form-field class="form-login" appearance="outline" style="display: block !important;">
                        <input matInput placeholder="CPF" id="cpf" autocomplete="off" name="cpf" maxlength="14">
                        <mat-label><i class="fas fa-user-injured space-icon"></i> <i>CPF
                            </i></mat-label>
                    </mat-form-field>

                    <mat-form-field class="form-login" appearance="outline" style="display: block !important;">
                        <input matInput placeholder="Senha" type="password" id="senha" name="senha">

                        <mat-label> <i class="fas fa-unlock-alt space-icon"></i> <i> Senha</i>
                        </mat-label>
                    </mat-form-field>


                </div>

                <div class="text-center">
                    <div class="text-center" style="padding: 15px;">

                        <button routerLink="/" class="btn-entrar" mat-raised-button>ENTRAR</button>

                        <div class="div-cadastrar">
                            <div routerLink="/cadastrar" class="text-left btn-esqueci" style="margin: 0 auto; text-align: left;">
                                <a class="" style="cursor: pointer;">Cadastre-se</a>
                            </div>
                            <div routerLink="/esqueci-senha" class="text-right btn-esqueci" style="margin: 0 auto; text-align: right;">
                                <a class="" style="cursor: pointer;">Esqueci a senha</a>
                            </div>

                        </div>

                    </div>

                </div>


            </div>


        </mat-card>

    </div>

    <!--DIV MOBILE LOGIN-->

    <div class="col-md-12 mobile-login">
        <mat-card class="text-left col-md-12 card-login">

            <div class="div-info-logo">
                <img class="logo-login" src="assets/img/logo.png">
            </div>

            <mat-card-title class="text-center">
                <h1 class="text-login">Login</h1>
            </mat-card-title>


            <br>
            <div class="col-md-12" style="display: block;">

                <div class="text-center div-form-login">

                    <mat-form-field class="form-login" appearance="outline" style="display: block !important;">
                        <input matInput placeholder="CPF" id="cpf" autocomplete="off" name="cpf" maxlength="14">
                        <mat-label><i class="fas fa-user-injured space-icon"></i> <i>CPF
                            </i></mat-label>
                    </mat-form-field>

                    <mat-form-field class="form-login" appearance="outline" style="display: block !important;">
                        <input matInput placeholder="Senha" type="password" id="senha" name="senha">

                        <mat-label> <i class="fas fa-unlock-alt space-icon"></i> <i> Senha</i>
                        </mat-label>
                    </mat-form-field>


                </div>

                <div class="text-center">
                    <div class="text-center" style="padding: 15px;">

                        <button class="btn-entrar" mat-raised-button>ENTRAR</button>

                        <div class="div-cadastrar">
                            <div routerLink="/cadastrar" class="text-left btn-esqueci" style="margin: 0 auto; text-align: left;">
                                <a class="" style="cursor: pointer;">Cadastre-se</a>
                            </div>
                            <div routerLink="/esqueci-senha" class="text-right btn-esqueci" style="margin: 0 auto; text-align: right;">
                                <a class="" style="cursor: pointer;">Esqueci a senha</a>
                            </div>

                        </div>

                    </div>

                </div>


            </div>

            <div class="div-sociais">
                <div class="siga-nos">
                    <h3>Siga-nos nas Redes Sociais</h3>
                </div>
                <div class="col-md-12 img-sociais">
                    <img src="assets/img/faceking.png">

                    <img src="assets/img/instagramking.png">

                    <img src="assets/img/linkedinking.png">
                </div>
            </div>    
            <div class="footer-login">
                <h3>Desenvolvido por Faso - Fábrica de Software</h3>
            </div>        

        </mat-card>      

    </div>

    
</div>