<div class="fundo-prod">

    <mat-card-title class="text-left card-title">
        <div class="title-pedidos">
            <div class="img-bemvindo col-md-3">
                <img src="assets/img/logo.png">
            </div>            
        </div>      

        <div class="div-sair">
            <div class="btn-sair">
                <button routerLink="/produtos" class="sair-pedido">Sair</button>
            </div>
        </div>
        
    </mat-card-title>
    <div class="title-catalogo">
        <h1>Catálogo de Produtos</h1>
    </div>

    <div class="selecao">
        <h4>Selecionar todos</h4>      
          <input type="checkbox">        
    </div>



    <mat-card-content class="produtos-scroll">
        <div class="col-md-12 div-products">
            <div class="div-cards-produtos">
                <div class="col-lg col-md-6 col-sm-12" style="padding: 10px;">
                    <mat-card class="mat-elevation-z4 card-produtos">

                        <img src="assets/img/roupa1.jpg">

                        <div class="title-product">
                            <h3>Macacão Feminino</h3>
                        </div>

                        <div class="div-cor-qtd">
                            <div class="cor">
                                <h4>Cor</h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: green;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: palevioletred;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: blueviolet;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: black;">
                                </h4>
                            </div>
                            <div class="qtd-produtos">
                                <h4>Qtd</h4>

                                <div style="display: flex;">

                                    <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                            cursor: pointer;
                                            padding: 0px !important;
                                            border-top-left-radius: 10px;
                                            border-bottom-left-radius: 10px;
                                            width: 50px;
                                            height: 30px;
                                            background-color: #c59c53;">
                                        <i class="material-icons cadastro-icons"
                                            style="line-height: 1.5; font-size: 20px; color: #fff;">remove</i></button>

                                    <input class="col-sm text-center"
                                        style="border: 1px solid #c59c53; padding: 0px !important; width: 40px; height: 30px;">

                                    <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                            width: 50px !important;
                                            height: 30px;
                                            border-top-right-radius: 10px;
                                            border-bottom-right-radius: 10px;
                                            background-color: #c59c53;">
                                        <i class="material-icons cadastro-icons"
                                            style="line-height: 1.5; font-size: 20px; color: #fff;">add</i></button>

                                </div>

                            </div>

                        </div>

                        <div class="div-valor">
                            <div class="valor">
                                <h4>R$ 89,90</h4>
                            </div>
                            <div class="comprar">
                                <input type="checkbox">
                            </div>
                        </div>

                    </mat-card>
                </div>

                <div class="col-lg col-md-6 col-sm-12" style="padding: 10px;">
                    <mat-card class="mat-elevation-z4 card-produtos">
                        
                            <img src="assets/img/roupa1.jpg">

                            <div class="title-product">
                                <h3>Macacão Feminino</h3>
                            </div>

                            <div class="div-cor-qtd">
                                <div class="cor">
                                    <h4>Cor</h4>
                                    <h4
                                        style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: green;">
                                    </h4>
                                    <h4
                                        style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: palevioletred;">
                                    </h4>
                                    <h4
                                        style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: blueviolet;">
                                    </h4>
                                    <h4
                                        style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: black;">
                                    </h4>
                                </div>

                                <div class="qtd-produtos">
                                    <h4>Qtd</h4>
    
                                    <div style="display: flex;">
    
                                        <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                                cursor: pointer;
                                                padding: 0px !important;
                                                border-top-left-radius: 10px;
                                                border-bottom-left-radius: 10px;
                                                width: 50px;
                                                height: 30px;
                                                background-color: #c59c53;">
                                            <i class="material-icons cadastro-icons"
                                                style="line-height: 1.5; font-size: 20px; color: #fff;">remove</i></button>
    
                                        <input class="col-sm text-center"
                                            style="border: 1px solid #c59c53; padding: 0px !important; width: 40px; height: 30px;">
    
                                        <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                                width: 50px !important;
                                                height: 30px;
                                                border-top-right-radius: 10px;
                                                border-bottom-right-radius: 10px;
                                                background-color: #c59c53;">
                                            <i class="material-icons cadastro-icons"
                                                style="line-height: 1.5; font-size: 20px; color: #fff;">add</i></button>
    
                                    </div>
    
                                </div>

                            </div>

                            <div class="div-valor">
                                <div class="valor">
                                    <h4>R$ 89,90</h4>
                                </div>
                                <div class="comprar">
                                    <input type="checkbox">
                                </div>
                            </div>

                    </mat-card>
                </div>

                <div class="col-lg col-md-6 col-sm-12" style="padding: 10px;">
                    <mat-card class="mat-elevation-z4 card-produtos">

                        <img src="assets/img/roupa1.jpg">

                        <div class="title-product">
                            <h3>Macacão Feminino</h3>
                        </div>

                        <div class="div-cor-qtd">
                            <div class="cor">
                                <h4>Cor</h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: green;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: palevioletred;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: blueviolet;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: black;">
                                </h4>

                            </div>
                            <div class="qtd-produtos">
                                <h4>Qtd</h4>

                                <div style="display: flex;">

                                    <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                            cursor: pointer;
                                            padding: 0px !important;
                                            border-top-left-radius: 10px;
                                            border-bottom-left-radius: 10px;
                                            width: 50px;
                                            height: 30px;
                                            background-color: #c59c53;">
                                        <i class="material-icons cadastro-icons"
                                            style="line-height: 1.5; font-size: 20px; color: #fff;">remove</i></button>

                                    <input class="col-sm text-center"
                                        style="border: 1px solid #c59c53; padding: 0px !important; width: 40px; height: 30px;">

                                    <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                            width: 50px !important;
                                            height: 30px;
                                            border-top-right-radius: 10px;
                                            border-bottom-right-radius: 10px;
                                            background-color: #c59c53;">
                                        <i class="material-icons cadastro-icons"
                                            style="line-height: 1.5; font-size: 20px; color: #fff;">add</i></button>

                                </div>

                            </div>

                        </div>

                        <div class="div-valor">
                            <div class="valor">
                                <h4>R$ 89,90</h4>
                            </div>
                            <div class="comprar">
                                <input type="checkbox">
                            </div>
                        </div>

                    </mat-card>
                </div>

                <div class="col-lg col-md-6 col-sm-12" style="padding: 10px;">
                    <mat-card class="mat-elevation-z4 card-produtos">

                        <img src="assets/img/roupa1.jpg">

                        <div class="title-product">
                            <h3>Macacão Feminino</h3>
                        </div>

                        <div class="div-cor-qtd">
                            <div class="cor">
                                <h4>Cor</h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: green;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: palevioletred;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: blueviolet;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: black;">
                                </h4>
                            </div>
                            <div class="qtd-produtos">
                                <h4>Qtd</h4>

                                <div style="display: flex;">

                                    <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                            cursor: pointer;
                                            padding: 0px !important;
                                            border-top-left-radius: 10px;
                                            border-bottom-left-radius: 10px;
                                            width: 50px;
                                            height: 30px;
                                            background-color: #c59c53;">
                                        <i class="material-icons cadastro-icons"
                                            style="line-height: 1.5; font-size: 20px; color: #fff;">remove</i></button>

                                    <input class="col-sm text-center"
                                        style="border: 1px solid #c59c53; padding: 0px !important; width: 40px; height: 30px;">

                                    <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                            width: 50px !important;
                                            height: 30px;
                                            border-top-right-radius: 10px;
                                            border-bottom-right-radius: 10px;
                                            background-color: #c59c53;">
                                        <i class="material-icons cadastro-icons"
                                            style="line-height: 1.5; font-size: 20px; color: #fff;">add</i></button>

                                </div>

                            </div>

                        </div>

                        <div class="div-valor">
                            <div class="valor">
                                <h4>R$ 89,90</h4>
                            </div>
                            <div class="comprar">
                                <input type="checkbox">
                            </div>
                        </div>

                    </mat-card>
                </div>
            </div>

            <div class="div-cards-produtos">
                <div class="col-lg col-md-6 col-sm-12" style="padding: 10px;">
                    <mat-card class="mat-elevation-z4 card-produtos">

                        <img src="assets/img/roupa1.jpg">

                        <div class="title-product">
                            <h3>Macacão Feminino</h3>
                        </div>

                        <div class="div-cor-qtd">
                            <div class="cor">
                                <h4>Cor</h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: green;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: palevioletred;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: blueviolet;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: black;">
                                </h4>
                            </div>
                            <div class="qtd-produtos">
                                <h4>Qtd</h4>

                                <div style="display: flex;">

                                    <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                            cursor: pointer;
                                            padding: 0px !important;
                                            border-top-left-radius: 10px;
                                            border-bottom-left-radius: 10px;
                                            width: 50px;
                                            height: 30px;
                                            background-color: #c59c53;">
                                        <i class="material-icons cadastro-icons"
                                            style="line-height: 1.5; font-size: 20px; color: #fff;">remove</i></button>

                                    <input class="col-sm text-center"
                                        style="border: 1px solid #c59c53; padding: 0px !important; width: 40px; height: 30px;">

                                    <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                            width: 50px !important;
                                            height: 30px;
                                            border-top-right-radius: 10px;
                                            border-bottom-right-radius: 10px;
                                            background-color: #c59c53;">
                                        <i class="material-icons cadastro-icons"
                                            style="line-height: 1.5; font-size: 20px; color: #fff;">add</i></button>

                                </div>

                            </div>

                        </div>

                        <div class="div-valor">
                            <div class="valor">
                                <h4>R$ 89,90</h4>
                            </div>
                            <div class="comprar">
                                <input type="checkbox">
                            </div>
                        </div>

                    </mat-card>
                </div>

                <div class="col-lg col-md-6 col-sm-12" style="padding: 10px;">
                    <mat-card class="mat-elevation-z4 card-produtos">

                        <img src="assets/img/roupa1.jpg">

                        <div class="title-product">
                            <h3>Macacão Feminino</h3>
                        </div>

                        <div class="div-cor-qtd">
                            <div class="cor">
                                <h4>Cor</h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: green;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: palevioletred;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: blueviolet;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: black;">
                                </h4>
                            </div>

                            <div class="qtd-produtos">
                                <h4>Qtd</h4>

                                <div style="display: flex;">

                                    <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                            cursor: pointer;
                                            padding: 0px !important;
                                            border-top-left-radius: 10px;
                                            border-bottom-left-radius: 10px;
                                            width: 50px;
                                            height: 30px;
                                            background-color: #c59c53;">
                                        <i class="material-icons cadastro-icons"
                                            style="line-height: 1.5; font-size: 20px; color: #fff;">remove</i></button>

                                    <input class="col-sm text-center"
                                        style="border: 1px solid #c59c53; padding: 0px !important; width: 40px; height: 30px;">

                                    <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                            width: 50px !important;
                                            height: 30px;
                                            border-top-right-radius: 10px;
                                            border-bottom-right-radius: 10px;
                                            background-color: #c59c53;">
                                        <i class="material-icons cadastro-icons"
                                            style="line-height: 1.5; font-size: 20px; color: #fff;">add</i></button>

                                </div>

                            </div>

                        </div>

                        <div class="div-valor">
                            <div class="valor">
                                <h4>R$ 89,90</h4>
                            </div>
                            <div class="comprar">
                                <input type="checkbox">
                            </div>
                        </div>

                    </mat-card>
                </div>

                <div class="col-lg col-md-6 col-sm-12" style="padding: 10px;">
                    <mat-card class="mat-elevation-z4 card-produtos">

                        <img src="assets/img/roupa1.jpg">

                        <div class="title-product">
                            <h3>Macacão Feminino</h3>
                        </div>

                        <div class="div-cor-qtd">
                            <div class="cor">
                                <h4>Cor</h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: green;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: palevioletred;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: blueviolet;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: black;">
                                </h4>

                            </div>
                            <div class="qtd-produtos">
                                <h4>Qtd</h4>

                                <div style="display: flex;">

                                    <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                            cursor: pointer;
                                            padding: 0px !important;
                                            border-top-left-radius: 10px;
                                            border-bottom-left-radius: 10px;
                                            width: 50px;
                                            height: 30px;
                                            background-color: #c59c53;">
                                        <i class="material-icons cadastro-icons"
                                            style="line-height: 1.5; font-size: 20px; color: #fff;">remove</i></button>

                                    <input class="col-sm text-center"
                                        style="border: 1px solid #c59c53; padding: 0px !important; width: 40px; height: 30px;">

                                    <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                            width: 50px !important;
                                            height: 30px;
                                            border-top-right-radius: 10px;
                                            border-bottom-right-radius: 10px;
                                            background-color: #c59c53;">
                                        <i class="material-icons cadastro-icons"
                                            style="line-height: 1.5; font-size: 20px; color: #fff;">add</i></button>

                                </div>

                            </div>
                        </div>

                        <div class="div-valor">
                            <div class="valor">
                                <h4>R$ 89,90</h4>
                            </div>
                            <div class="comprar">
                                <input type="checkbox">
                            </div>
                        </div>

                    </mat-card>
                </div>

                <div class="col-lg col-md-6 col-sm-12" style="padding: 10px;">
                    <mat-card class="mat-elevation-z4 card-produtos">

                        <img src="assets/img/roupa1.jpg">

                        <div class="title-product">
                            <h3>Macacão Feminino</h3>
                        </div>

                        <div class="div-cor-qtd">
                            <div class="cor">
                                <h4>Cor</h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: green;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: palevioletred;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: blueviolet;">
                                </h4>
                                <h4
                                    style="width: 20px; height: 20px; border: 1px solid #000; border-radius: 50%; margin: 5px; background-color: black;">
                                </h4>
                            </div>
                            <div class="qtd-produtos">
                                <h4>Qtd</h4>

                                <div style="display: flex;">

                                    <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                            cursor: pointer;
                                            padding: 0px !important;
                                            border-top-left-radius: 10px;
                                            border-bottom-left-radius: 10px;
                                            width: 50px;
                                            height: 30px;
                                            background-color: #c59c53;">
                                        <i class="material-icons cadastro-icons"
                                            style="line-height: 1.5; font-size: 20px; color: #fff;">remove</i></button>

                                    <input class="col-sm text-center"
                                        style="border: 1px solid #c59c53; padding: 0px !important; width: 40px; height: 30px;">

                                    <button class="col-sm" style="border: 1px solid #c59c53; cursor: pointer; padding: 0px !important;
                                            width: 50px !important;
                                            height: 30px;
                                            border-top-right-radius: 10px;
                                            border-bottom-right-radius: 10px;
                                            background-color: #c59c53;">
                                        <i class="material-icons cadastro-icons"
                                            style="line-height: 1.5; font-size: 20px; color: #fff;">add</i></button>

                                </div>

                            </div>

                        </div>

                        <div class="div-valor">
                            <div class="valor">
                                <h4>R$ 89,90</h4>
                            </div>
                            <div class="comprar">
                                <input type="checkbox">
                            </div>
                        </div>

                    </mat-card>
                </div>
            </div>


        </div>

  


        <div class="div-enviar col-md-12">
            <div class="btn-enviar">
                <button routerLink="/produtos" class="enviar-pedido">Enviar Pedido</button>
            </div>
        </div>


    </mat-card-content>

</div>
