<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


<div class="fundo-perfil">
    <mat-card class="mat-elevation-z4 card-perfil">
        <mat-card-title class="text-left card-title">
            <div class="col-md-9 title-perfil">
                <span class="material-icons icon-perfil">
                    manage_accounts
                </span>
                <h1>Perfil do Usuário</h1>

            </div>
        </mat-card-title>


        <mat-card style="border: 1px solid #ccc; border-radius: 10px; margin: 10px;">
            <div class="col-md div-foto">
                <label>
                    <img src="{{imagem}}" class="img-responsive profile_img-upload imagem-circular" style="cursor:pointer; width: 40%;"
                      alt="Foto de Perfil">
                  </label>
                  <!-- <input type="file" id="imageperfilusuario" (change)="AlterarImagemPessoa($event)" />
                  <p class="foto-cadastro-adm main-color">foto</p> -->

            </div>
            <div class="col-md-12 div-forms-perfil">
                <div class="col-lg-6 line-responsive">
                    <mat-form-field class="col-lg-8 col-md-6 col-sm-12 div-form-input" appearance="outline">
                        <mat-label >Nome</mat-label>
                        <input  class="digitavel" matInput placeholder="Nome">
                    </mat-form-field>

                    <mat-form-field class="col-lg-4 col-md-6 col-sm-12 div-form-input" appearance="outline">
                        <mat-label>CPF</mat-label>
                        <input class="digitavel" matInput placeholder="CPF">
                    </mat-form-field>
                </div>
                <div class="col-lg-6 line-responsive">
                    <mat-form-field class="col-lg-6 col-md-6 col-sm-12 div-form-input" appearance="outline">
                        <mat-label>Telefone</mat-label>
                        <input class="digitavel" matInput placeholder="Telefone">
                    </mat-form-field>

                    <mat-form-field class="col-lg-6 col-md-6 col-sm-12 div-form-input" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input class="digitavel" matInput placeholder="Email">
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-12 div-forms-perfil">
                <div class="col-lg-12 line-responsive">
                    <mat-form-field class="col-md-10 col-sm-12 div-form-input" appearance="outline">
                        <mat-label>Endereço</mat-label>
                        <input class="digitavel" matInput placeholder="Endereço">
                    </mat-form-field>

                    <mat-form-field class="col-md-2 col-sm-12 div-form-input" appearance="outline">
                        <mat-label>Número</mat-label>
                        <input class="digitavel" matInput placeholder="Número">
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-12 div-forms-perfil">

                <div class="col-lg-6 line-responsive">
                    <mat-form-field class="col-lg-4 col-md-6 col-sm-12 div-form-input" appearance="outline">
                        <mat-label>CEP</mat-label>
                        <input class="digitavel" matInput placeholder="CEP">
                    </mat-form-field>

                    <mat-form-field class="col-lg-8 col-md-6 col-sm-12 div-form-input" appearance="outline">
                        <mat-label>Bairro</mat-label>
                        <input class="digitavel" matInput placeholder="Bairro">
                    </mat-form-field>
                </div>

                <div class="col-lg-6 line-responsive">
                    <mat-form-field class="col-lg-8 col-md-6 col-sm-12 div-form-input" appearance="outline">
                        <mat-label>Cidade</mat-label>
                        <input class="digitavel" matInput placeholder="Cidade">
                    </mat-form-field>

                    <mat-form-field class="col-lg-4 col-md-6 col-sm-12 div-form-input" appearance="outline">
                        <mat-label>Estado</mat-label>
                        <input class="digitavel" matInput placeholder="Estado">
                    </mat-form-field>
                </div>

            </div>

            <div class="btns-perfil">
                <button class="btn-limpar" mat-raised-button>LIMPAR</button>
                <button class="btn-salvar" mat-raised-button>SALVAR</button>
            </div>




        </mat-card>

        <mat-card style="border: 1px solid #ccc; border-radius: 10px; margin: 10px;">
            <div class="col-md-12 div-senha">
                <div class="col-md-4 div-form-input">
                    <h2>Redefinir Senha</h2>
                </div>

                <mat-form-field class="col-md-4 div-form-input" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input class="digitavel" matInput placeholder="Senha">
                </mat-form-field>

                <mat-form-field class="col-md-4 div-form-input" appearance="outline">
                    <mat-label>Repetir Senha</mat-label>
                    <input class="digitavel" matInput placeholder="Repetir Senha">
                </mat-form-field>

            </div>
            <div class="btns-perfil">
                <button class="btn-salvar" mat-raised-button>SALVAR</button>
            </div>
        </mat-card>
    </mat-card>    
</div>

<ngx-smart-modal #ModalCortarImagem identifier="ModalCortarImagem" customClass="nsm-centered medium-modal">
    <div class="modal-header p-t-20 p-b-20">
      <div class="row">
  
        <div class="col-sm text-center main-color cadastro-de-adm-titulo">
          <h1>Foto de Perfil</h1>
        </div>
  
        <div class="col-md-12" style="text-align: -webkit-center">
          <!-- <image-cropper style="max-width: 300px !important; max-height: 300px !important;"
            [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="3/ 3"
            [onlyScaleDown]="true" [roundCropper]="false" outputType="base64" (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"
            [style.display]="showCropper ? null : 'none'" [alignImage]="'left'"></image-cropper> -->
        </div>
      </div>
    </div>
  
    <mat-divider></mat-divider>
    <div class="row-button text-center">
      <button class="btn btn-primary adm-button" (click)="CortarImagem()" style="width: 100%;"><i
          class="material-icons item-vertical" style="margin-top: -3px;">check</i>Cortar Imagem</button>
  
    </div>
  </ngx-smart-modal>