<div class="fundo-finalizar">
    <mat-card class="principal">
        <mat-card-title class="title-finalizar">
            <span class="material-icons icones-dash">
                monetization_on
            </span>
            <h1>Finalizar Compra</h1>
        </mat-card-title>

        <div class="colunas">

            <div class="produtos col-md">
                <h2>Resumo da Compra</h2>

                <div class="tabela">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Tamanho</th>
                                <th>Cor</th>
                                <th>Qntd</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td>Camiseta</td>
                            <td>P</td>
                            <td>Preto</td>
                            <td>2</td>
                            <td>R$ 200,00</td>
                        </tbody>
                        <tbody>
                            <td>Camiseta</td>
                            <td>P</td>
                            <td>Preto</td>
                            <td>2</td>
                            <td>R$ 200,00</td>
                        </tbody>

                    </table>

                </div>
                <div class="total">
                    <h2>Total a pagar</h2>
                    <h3>R$ 800,00</h3>
                </div>
            </div>

            <div class="saldo col-md">
                <h2>Crédito disponível</h2>
                <div class="valor-disponivel">
                    <h3 class="reais">R$ 1.200,00</h3>
                </div>
               
            </div>

        </div>
        <div class="compensar-valor">
            <div class="concluir">
                <button>Concluir Compra</button>
            </div>
        </div>

    </mat-card>
</div>