<div class="col-md-12 div-fundo">
    
    <div class="col-md-12 col-sm-12 div-login">
        <!-- <div routerLink="/login" class="voltar" style="display: flex; align-self: center;">
            <span class="material-icons icon-voltar">reply</span> <span class="text-voltar">Voltar</span>
        </div> -->
        <mat-card class="text-left card-login">

            <div class="col-md-12" style="height: 100%;">
                <div class="div-info-logo">
                    <img class="logo-login" src="assets/img/logo.png">
                </div>
                <div class="div-info-logo">
                    <h3>Preencha seus dados para realizar o cadastro</h3>
                </div>
    
               
            </div>

            <mat-card-title class="text-center">
                <h1 class="text-login">Cadastre-se</h1>
            </mat-card-title>


            <br>
            <div class="col-md-12 div-form-scroll">

                <mat-card style="box-shadow: none; background-color: #0e0e1d;">
            
                    <div class="col-md-12 div-form-cadastro">
                        <div class="col-lg-6 line-responsive">
                            <mat-form-field class="col-lg-8 col-md-6 col-sm-12 form-login" appearance="outline">
                                <mat-label>Nome</mat-label>
                                <input class="digitavel" matInput placeholder="Nome">
                            </mat-form-field>
        
                            <mat-form-field class="col-lg-4 col-md-6 col-sm-12 form-login" appearance="outline">
                                <mat-label>CPF</mat-label>
                                <input class="digitavel" matInput placeholder="CPF">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 line-responsive">
                            <mat-form-field class="col-lg-6 col-md-6 col-sm-12 form-login" appearance="outline">
                                <mat-label>Telefone</mat-label>
                                <input class="digitavel" matInput placeholder="Telefone">
                            </mat-form-field>
        
                            <mat-form-field class="col-lg-6 col-md-6 col-sm-12 form-login" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input class="digitavel" matInput placeholder="Email">
                            </mat-form-field>
                        </div>
                    </div>
        
                    <div class="col-md-12 div-form-cadastro">
                        <div class="col-lg-12 line-responsive">
                            <mat-form-field class="col-md-10 col-sm-12 form-login" appearance="outline">
                                <mat-label>Endereço</mat-label>
                                <input class="digitavel" matInput placeholder="Endereço">
                            </mat-form-field>
        
                            <mat-form-field class="col-md-2 col-sm-12 form-login" appearance="outline">
                                <mat-label>Número</mat-label>
                                <input class="digitavel" matInput placeholder="Número">
                            </mat-form-field>
                        </div>
                    </div>
        
                    <div class="col-md-12 div-form-cadastro">
        
                        <div class="col-lg-6 line-responsive">
                            <mat-form-field class="col-lg-4 col-md-6 col-sm-12 form-login" appearance="outline">
                                <mat-label>CEP</mat-label>
                                <input class="digitavel" matInput placeholder="CEP">
                            </mat-form-field>
        
                            <mat-form-field class="col-lg-8 col-md-6 col-sm-12 form-login" appearance="outline">
                                <mat-label>Bairro</mat-label>
                                <input class="digitavel" matInput placeholder="Bairro">
                            </mat-form-field>
                        </div>
        
                        <div class="col-lg-6 line-responsive">
                            <mat-form-field class="col-lg-8 col-md-6 col-sm-12 form-login" appearance="outline">
                                <mat-label>Cidade</mat-label>
                                <input class="digitavel" matInput placeholder="Cidade">
                            </mat-form-field>
        
                            <mat-form-field class="col-lg-4 col-md-6 col-sm-12 form-login" appearance="outline">
                                <mat-label>Estado</mat-label>
                                <input class="digitavel" matInput placeholder="Estado">
                            </mat-form-field>
                        </div>
        
                    </div>

                    <div class="text-center col-md-12 div-form-cadastro form-senha">

                        <div class="col-md-4 text-senha">
                            <h1>Cadastre sua Senha</h1>                            
                        </div>
    
                        <mat-form-field class="form-login col-md-4" appearance="outline" style="width: 100%;">
                            <input matInput placeholder="Senha" type="password" id="senha" name="senha">
                            <mat-label><i> Senha</i></mat-label>
                        </mat-form-field>
    
                        <mat-form-field class="form-login col-md-4 form-dupla" appearance="outline">
                            <input matInput placeholder="Senha" type="password" id="senha" name="senha">
                            <mat-label><i>Confirmar Senha</i></mat-label>
                        </mat-form-field>
    
                    </div>
        
                    
        
                </mat-card>

                
                

                

                <div class="text-center div-botoes col-md-12">
                    <button routerLink="/login" class="btn-cadastrar" mat-raised-button>VOLTAR</button>
                    <button class="btn-cadastrar" mat-raised-button>CADASTRAR</button>
                </div>

                <div class="div-sociais">
                    <div class="siga-nos">
                        <h3>Siga-nos nas Redes Sociais</h3>
                    </div>
                    <div class="col-md-12 img-sociais">
                        <img src="assets/img/faceking.png">
    
                        <img src="assets/img/instagramking.png">
    
                        <img src="assets/img/linkedinking.png">
                    </div>
                </div>

                <div class="footer-login">
                    <h3>Desenvolvido por Faso - Fábrica de Software</h3>
                </div>

            </div>

        </mat-card>
        


    </div>
</div>