<div class="div-fundo">
    <mat-card class="div-financeiro">

        <mat-card-title>
            <div class="col-md-12 title-financeiro">
                <span class="material-icons icones-dash">
                    monetization_on
                </span>
                <h1>Financeiro</h1>
            </div>
        </mat-card-title>

        <div class="itens-financeiro">
            <div class="col-md-12 cards-financeiro">
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin: 10px 0;">
                    <div style="align-self: center; border-radius: 10px; box-shadow: 5px 5px 5px #ccc;">

                        <div style="padding: 10px; background-color: #0e0e1d; align-self: center; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                            <h1 style="color: #fff; margin-bottom: 0;">Crédito Disponivel</h1>
                        </div>
                        <div class="div-infos-credito" style="padding: 15px;">
                            <h1>Compra: R$ 2.000,00 / Data: 25/02/2021</h1>
                            <h1>Utilizado: R$ 800,00</h1>
                            <h1>Disponivel: R$ 1.200,00</h1>

                        </div>
                    </div>

                </div>

                <div class="col-lg-6 col-md-12 col-sm-12" style="margin: 10px 0;">
                    <div style="align-self: center; border-radius: 10px; box-shadow: 5px 5px 5px #ccc;">
                        <div style="padding: 10px; background-color: #0e0e1d; align-self: center; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                            <h1 style="color: #fff; margin-bottom: 0;">Ultimas compras realizadas</h1>
                        </div>
                        <div style="padding: 10px;">

                            <div class="div-nfs">
                                <h2 style="    margin-bottom: 0;">NFe - 256 / Data: 28/02-2021</h2>
                                <a href="http://localhost:4200/assets/pdf/e-bookfaso.pdf" target="_blank" ><button class="btn-detalhes">Detalhes</button></a>
                            </div>

                            <div class="div-nfs">
                                <h2 style="    margin-bottom: 0;">NFe - 256 / Data: 28/02-2021</h2>
                                <a href="http://localhost:4200/assets/pdf/e-bookfaso.pdf" target="_blank" ><button class="btn-detalhes">Detalhes</button></a>
                            </div>

                            <div class="div-nfs">
                                <h2 style="    margin-bottom: 0;">NFe - 256 / Data: 28/02-2021</h2>
                                <a href="http://localhost:4200/assets/pdf/e-bookfaso.pdf" target="_blank" ><button class="btn-detalhes">Detalhes</button></a>
                            </div>

                        </div>
                    </div>

                </div>                
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 40px 0">
            <div style="align-self: center; border-radius: 10px; box-shadow: 5px 5px 5px #ccc;">
                <div style="padding: 10px; background-color: #0e0e1d; align-self: center; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                    <h1 style="color: #fff; margin-bottom: 0;">Comprar Créditos</h1>
                </div>
                <div class="div-comprar" style="padding: 10px;">
                    <div>
                        <h1>Após a compra, seus créditos vão estar disponiveis em até 3 dias úteis.</h1>
                        
                    </div>

                    <div style="margin: 0 10px;
                    text-align: right;
                    padding: 10px 0;">
                        <button routerLink="/compra" style="font-size: 20px;
                        padding: 10px 30px;
                        border-radius: 50px;
                        background-color: #d0b164;
                        font-weight: 400;
                        text-transform: uppercase;
                        border: none;
                        box-shadow: 2px 2px 5px #444;">Comprar</button>
                    </div>
                </div>

            </div>

        </div>

    </mat-card>
</div>