<div class="col-md-12 div-fundo">

    <div class="col-md-12 div-top">

        <div class="div-info-logo">
            <img class="logo-login" src="assets/img/logo.png">
        </div>
        <div class="div-info-logo">
            <h3>Esqueceu a senha?<br> Preencha seu e-mail abaixo que enviaremos uma nova senha</h3>
        </div>

    </div>

    <div class="col-md-12 div-login">
        <mat-card class="text-left card-login">

            <div class="col-md-12" style="display: block;">

                <div class="text-center div-email">

                    <mat-form-field class="form-login" appearance="outline" style="display: block !important;">
                        <input matInput placeholder="E-mail" id="email" autocomplete="off" name="email">
                        <mat-label><i class="fas fa-user-injured space-icon"></i> <i>Email
                            </i></mat-label>
                    </mat-form-field>

                </div>

                <div class="div-voltar">
                    <div class="text-center" style="padding: 15px;">

                        <button routerLink="/login" class="btn-entrar" mat-raised-button>VOLTAR</button>

                    </div>
                    <div class="text-center" style="padding: 15px;">

                        <button class="btn-entrar" mat-raised-button>ENVIAR</button>

                    </div>

                </div>


            </div>


        </mat-card>

        <div class="div-sociais">
            <div class="siga-nos">
                <h3>Siga-nos nas Redes Sociais</h3>
            </div>
            <div class="col-md-12 img-sociais">
                <img src="assets/img/faceking.png">

                <img src="assets/img/instagramking.png">

                <img src="assets/img/linkedinking.png">
            </div>
        </div>

        <div class="footer-login">
            <h3>Desenvolvido por Faso - Fábrica de Software</h3>
        </div>


    </div>
</div>